<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="refresh" content="2; url=/" />
        <title>Logging out....</title>
        <style>
            body {
                background-color: #2c2f33;
                color:white;
                font-family:Arial,sans-serif;
                text-align:center;
                margin-top:20%;
            }
        </style>
    </head>
    <body>
        <h1>Logging you out...</h1>
        <p>You will be redirected shortly.</p>
    </body>
</html>